<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BoolzApp</title>
        <!-- FAVICON -->
        <link rel="icon" href="https://web.whatsapp.com/img/favicon_c5088e888c97ad440a61d247596f88e5.png">
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
        <!-- MOMENT.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
        <!-- VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- SCROLLBAR -->
        <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>
    </head>
    <body>
        <div id="root">
            <!-- General Container -->
            <div class="container">
                <!-- Left Container -->
                <div class="part-left">
                    <!-- Header top left -->
                    <div class="top-left">
                        <img src="https://boolzap.netlify.app/img/Sara.svg" alt="utente-annalisa">
                        <div class="header-icon">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- Center left -->
                    <div class="center-left">
                        <div class="circle-icon">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="center-left-text">
                            <span>
                                Ricevi notifica di nuovi messaggi
                            </span>
                            <a href="#">
                                Attiva notifiche desktop
                            </a>
                        </div>
                    </div>
                    <!-- Search left -->
                    <div class="search-left">
                        <div class="input-left">
                            <i class="fas fa-search"></i>
                            <input v-model="filterText" @keyup="filtrochat" type="text" name="search" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <!-- Bottom top left -->
                    <div class="bottom-left">
                        <div class="chat-container">
                            <div class="chat-preview" :class="indice == contactactive ? 'active' : ''" v-if="chat.visible" v-for="(chat,indice) in contacts" @click="clickchat(indice)">
                                <div class="chat-info">
                                    <img :src="chat.avatar" :alt="chat.name">
                                </div>
                                <div class="chat-info-text">
                                    <div>
                                        <h4>
                                            {{ chat.name }}
                                        </h4>
                                    </div>
                                    <div>
                                        <p class="message-preview">
                                            {{ chat.messages[chat.messages.length - 1].message}}
                                        </p>
                                    </div>
                                </div>
                                <div class="chat-hours">
                                    <span>
                                        {{getFormattedtime(chat)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Right Container -->
                <div class="part-right">
                    <!-- Header top right -->
                    <div class="top-right">
                        <div class="chat-corrente">
                            <img :src="contacts[contactactive].avatar" alt="avatar-corrente">
                            <div class="chat-corrente-text">
                                <h4>
                                    {{ contacts[contactactive].name }}
                                </h4>
                                <p>
                                    Ultimo accesso oggi alle
                                    <span>
                                        {{  contacts[contactactive].messages[contacts[contactactive].messages.length - 1].date }}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="header-icon">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- Center right -->
                    <div class="bottom-right" v-chat-scroll="{always: false, smooth: true, scrollonremoved: true}">
                        <div class="chat-message" v-for="(info, info_index) in contacts[contactactive].messages">
                            <span :class="info.status" class="messaggio">
                                <i @click="show_menu(info_index)" class="fas fa-angle-down"></i>
                                {{ info.message }}
                                <p class="time">{{ info.date }}</p>
                                <div class="dropdown-menu" :class="(contacts[contactactive].messages[info_index].cxl) ? 'visible' : 'notvisible'">
                                    <i @click="delete_this_message(info_index)" class="fas fa-trash-alt"></i>
                                    <span @click="delete_this_message(info_index)">
                                        Delete message
                                    </span>
                                </div>
                            </span>
                        </div>
                    </div>
                    <!-- Footer right -->
                    <div class="footer-right">
                        <i class="far fa-smile"></i>
                        <input v-model="nuovomessaggio" @keyup.enter="addmessage"  type="text" placeholder="Scrivi un messaggio">
                        <i @click="addmessage" class="fab fa-telegram-plane"></i>
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
