<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BoolzApp</title>
        <!-- FAVICON -->
        <link rel="icon" href="https://web.whatsapp.com/img/favicon_c5088e888c97ad440a61d247596f88e5.png">
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
        <!-- VUE -->
         <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="root">
            <!-- Contenitore generale -->
            <div class="container">
                <!-- Parte sinistra -->
                <div class="part-left">
                    <!-- Header top left -->
                    <div class="top-left">
                        <img src="https://boolzap.netlify.app/img/Sara.svg" alt="utente-annalisa">
                        <div class="header-icon">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- Center left -->
                    <div class="center-left">
                        <div class="circle-icon">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="center-left-text">
                            <span>
                                Ricevi notifica di nuovi messaggi
                            </span>
                            <a href="#">
                                Attiva notifiche desktop
                            </a>
                        </div>
                    </div>
                    <!-- Search left -->
                    <div class="search-left">
                        <div class="input-left">
                            <i class="fas fa-search"></i>
                            <input v-model="filterText" @keyup="filtrochat" type="text" name="search" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <!-- Bottom top left -->
                    <div class="bottom-left">
                        <div class="chat-container">
                            <div class="chat-preview" v-if="chat.visible" v-for="(chat,indice) in contacts" @click="clickchat(indice)">
                                <div class="chat-info">
                                    <img :src="chat.avatar" :alt="chat.name">
                                </div>
                                <div class="chat-info-text">
                                    <h4>
                                        {{ chat.name }}
                                    </h4>
                                    <p>
                                        Disponibile
                                    </p>
                                </div>
                                <div class="chat-hours">
                                    <p>
                                        15:35
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Parte Destra -->
                <div class="part-right">
                    <div class="top-right">
                        <div class="chat-corrente">
                            <img :src="contacts[contactactive].avatar" alt="avatar-corrente">
                            <div class="chat-corrente-text">
                                <h4>
                                    {{ contacts[contactactive].name }}
                                </h4>
                                <p>
                                    Ultimo accesso oggi alle <span> {{ timestamp }} </span>
                                </p>
                            </div>
                        </div>
                        <div class="header-icon">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="bottom-right">
                        <div class="chat-message" v-for="info in contacts[contactactive].messages">
                            <span :class="info.status">
                                {{ info.message }}
                            </span>
                        </div>
                    </div>
                    <div class="footer-right">
                        <i class="far fa-smile"></i>
                        <input v-model="nuovomessaggio" @keyup.enter="addmessage"  type="text" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
