* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    background: linear-gradient(0deg, rgba(218,219,213,1) 85%, rgba(0,150,136,1) 85%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General Container */

.container{
    width: 1000px;
    height: 600px;
    background-color: white;
    display: flex;
}


/* Left Container */

.container .part-left{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid lightgrey;
}

/* Header top left */

.part-left .top-left img{
    height: 80%;
    width: auto;
    border-radius: 50%;
    background-color: lightgrey;
}

.header-icon i{
    margin-right: 8px;
    color: grey;
    cursor: pointer;
}

/* Center left */

.center-left{
    height: 70px;
    width: 100%;
    background-color: rgb(157, 225, 254);
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-left .circle-icon{
    background-color: white;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.center-left i{
    color: rgb(157, 225, 254);
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

.center-left-text{
    display: flex;
    flex-direction: column;
}

.center-left-text span{
    font-weight: bold;
    font-size: 15px;
}

.center-left-text a{
    color: rgb(100, 100, 100);
}

/* Search left */

.search-left{
    height: 45px;
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-left{
    margin: auto;
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    background-color: white
}

.input-left i{
    color: lightgrey;
    margin-left: 8px;
}

.input-left input{
    border: 0;
    height: 80%;
    width: 90%;
    padding: 8px 20px;
}

.input-left input:focus{
    outline: 0;
}

/* Bottom top left */

.bottom-left{
    height: calc(100% - 175px);
    overflow: auto;
}

.chat-preview{
    width: 100%;
    height: 81px;
    padding: 0 10px;
    border-bottom: 1px solid lightgrey;
    display: flex;
}

.chat-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-info img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lightgrey;
    margin-right: 20px;
}

.chat-info-text{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-preview{
    font-size: 12px;
    color: grey;
}

.chat-hours{
    color: grey;
    font-size: 12px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

.chat-preview:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}


/* Right Container */

.container .part-right{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header top right  */

.chat-corrente{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat-corrente img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightgrey;
}

.chat-corrente-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

.chat-corrente-text p{
    color: grey;
    font-size: 12px;
}

/* Center right */

.bottom-right{
    height: calc(100% - 120px);
    background-image: url(https://boolzap.netlify.app/img/wallpaper.png);
    background-size: contain;
    background-repeat: repeat;
    overflow-y: auto;
    padding: 20px;
}

.bottom-right span{
    padding: 5px;
    margin: 10px auto;
    clear: both;
}

.bottom-right span.received{
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    float: left;
}

.bottom-right span.sent{
    background-color: rgb(220, 248, 198);
    border: 2px solid rgb(220, 248, 198);
    border-radius: 10px;
    float: right;
}

.bottom-right span.received i{
    display: none;
}

.bottom-right i{
    display: flex;
    justify-content: flex-end;
    color: grey;
    cursor: pointer;
}

.bottom-right p.time{
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
}

.bottom-right span.received .dropdown-menu{
    display: none;
}

.messaggio{
    position: relative;
}

.bottom-right span.sent .dropdown-menu.visible{
    display: block;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 8px;
    color: black;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.bottom-right span.sent .dropdown-menu.notvisible{
    display: none;
}

.dropdown-menu i{
    display: inline-block;
    color: grey;
}

/* Footer right  */

.footer-right{
    height: 60px;
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-right i{
    color: grey;
    font-size: 20px;
    cursor: pointer;
}

.footer-right input{
    border: 0;
    width: 85%;
    padding: 15px 10px;
    border-radius: 8px;
}

.footer-right input:focus{
    outline: 0;
}


/* Both Container */

.part-left .top-left, .part-right .top-right {
    height: 60px;
    width: 100%;
    padding: 0 10px;
    background-color: rgb(237, 237, 237);
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
